[submodule "wp"]
	path = wp
	url = git://github.com/WordPress/WordPress.git
[submodule "content/plugins/buddypress"]
	path = content/plugins/buddypress
	url = https://github.com/buddypress/BuddyPress.git
